<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Halaman Tidak Ditemukan</title>
    <style>
        a, a:visited{
            color: #A855F7;
        }
    </style>
</head>
<body>
    <div class="err" style="font-family: sans-serif; text-align: center;">
        <h1>Upss... halaman yang anda tuju tidak ditemukan</h1>
        <a href="/">Kembali ke Beranda</a>
    </div>
</body>
</html>